### Empty template

.idea/
node_modules/

.oxlintrc.json.bak

# Yarn not using Zero-Installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Dist files
dist/
